# Battery health
type batt_health_data_file, file_type, data_file_type;
type sysfs_batt_health, fs_type, sysfs_type;

# CMHW
type display_sysfs, fs_type, sysfs_type;
type vibeamp_sysfs, fs_type, sysfs_type;

# PDS / FSG
type pds_file, file_type;
type fsg_file, fs_type, contextmount_type;

# RAMDUMP
type ram_dump_logs, file_type, data_file_type;

