# Started by init
init_daemon_domain(ss_ramdump)

# read the contents of the /dev directory
allow ss_ramdump device:dir r_dir_perms;

# Can write/search in /data/ss-ram-dump
allow ss_ramdump ram_dump_logs:dir create_dir_perms;
allow ss_ramdump ram_dump_logs:file create_file_perms;
allow ss_ramdump ram_dump_logs:dir r_dir_perms;
allow ss_ramdump ram_dump_logs:file r_file_perms;
allow ss_ramdump ram_dump_logs:file { create search read write open getattr };
allow ss_ramdump ram_dump_logs:dir { create search open read write getattr add_name };
allow ss_ramdump ram_dump_logs:capability {chown dac_override dac_read_search fowner fsetid kill setgid setuid setpcap linux_immutable net_bind_service net_broadcast net_admin net_raw ipc_lock ipc_owner sys_module sys_rawio sys_chroot sys_ptrace sys_pacct sys_admin sys_boot sys_nice sys_resource sys_time sys_tty_config mknod lease audit_write audit_control setfcap}

allow ss_ramdump shell:fd { use };
allow ss_ramdump shell_exec:file { read open execute execute_no_trans };
allow ss_ramdump system_file:file { execute_no_trans };
allow ss_ramdump ss_ramdump_exec:file {execute_no_trans };

allow ss_ramdump firmware_file:dir { search };
allow ss_ramdump firmware_file:file { open read getattr };

userdebug_or_eng(`
  # Read /dev/ramdump_* character devices
  allow ss_ramdump ramdump_device:chr_file r_file_perms;

  # Create files in /data/
  allow ss_ramdump system_data_file:dir create_dir_perms;
  allow ss_ramdump system_data_file:file create_file_perms;
  allow ss_ramdump system_data_file:dir rw_dir_perms;
  allow ss_ramdump system_data_file:file rw_file_perms;

  # Create files in /data/tombstones, for example
  # /data/tombstones/ramdump_venus.elf
  allow ss_ramdump tombstone_data_file:dir rw_dir_perms;
  allow ss_ramdump tombstone_data_file:file rw_file_perms;

  # Needed to allow UID=root to access /data/tombstones,
  # which is owned by UID=system
  allow ss_ramdump self:capability dac_override;
')
