# read the contents of the /dev directory
allow subsystem_ramdump device:dir r_dir_perms;

# Can write/search in /data/ss-ram-dump
allow subsystem_ramdump ram_dump_logs:dir create_dir_perms;
allow subsystem_ramdump ram_dump_logs:file create_file_perms;
allow subsystem_ramdump ram_dump_logs:dir r_dir_perms;
allow subsystem_ramdump ram_dump_logs:file r_file_perms;
allow subsystem_ramdump ram_dump_logs:dir { create search open read write getattr add_name };

#Needed in order to run kickstart
allow subsystem_ramdump shell:fd { use };
allow subsystem_ramdump shell_exec:file { read open execute execute_no_trans };
allow subsystem_ramdump system_file:file execute_no_trans;
allow subsystem_ramdump subsystem_ramdump_exec:file execute_no_trans;

allow subsystem_ramdump persist_file:dir r_dir_perms;

# change ownership of modem log files
allow subsystem_ramdump self:capability { fowner chown fsetid };

#Needed to inform the hsic driver that mdm has booted up
allow subsystem_ramdump sysfs:file { open read write getattr };

#Needed in order to access the firmware partition
allow subsystem_ramdump firmware_file:dir { search };
allow subsystem_ramdump firmware_file:file { open read getattr };

#Needed in order to collect ramdumps
allow subsystem_ramdump tombstone_data_file:file { create read write open getattr };
allow subsystem_ramdump tombstone_data_file:dir { create search open read write getattr add_name };

userdebug_or_eng(`

  # Create files in /data/
  allow subsystem_ramdump system_data_file:dir create_dir_perms;
  allow subsystem_ramdump system_data_file:file create_file_perms;
  allow subsystem_ramdump system_data_file:dir rw_dir_perms;
  allow subsystem_ramdump system_data_file:file rw_file_perms;

  # Create files in /data/tombstones, for example
  # /data/tombstones/ramdump_venus.elf
  allow subsystem_ramdump tombstone_data_file:dir rw_dir_perms;
  allow subsystem_ramdump tombstone_data_file:file rw_file_perms;

  # Needed to allow UID=root to access /data/tombstones,
  # which is owned by UID=system
  allow subsystem_ramdump self:capability dac_override;
')

# write radio properties
unix_socket_connect(subsystem_ramdump, property, init)
allow subsystem_ramdump radio_prop:property_service set;
