allow vold firmware_file:dir search;
allow vold firmware_file:file r_file_perms;

# Access userdata block device.
allow vold userdata_block_device:blk_file rw_file_perms;
auditallow vold userdata_block_device:blk_file rw_file_perms;
